/* color: #202020, #24bff2, #fff, #F5FBFE */

body{
    font-family: 'Merriweather', serif;
}
nav ul{
    text-align: right;
    margin:1.5em;
}
nav li{
    display: inline;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    padding-left: 1.5em;
}

/* Main **********************************************/
/* ABSURD **********************************************/
#absurd{
    min-height: 100vh;
    background-image: url(/assets/img/illustration1.gif);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40%;
    margin: 0 1.5em 0 6em;
}
#absurd h1, #express h1{
    font-size: 3.7em;
    padding-top: 2.8em;
    margin:0;
}
#absurd p, #express p{
    font-size: 1.4em;
    line-height: 1.8em;    
}
#absurd span, #express span{
    display: block;
}
#absurd div{
    display: inline-block;
    width: 6em;
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em;
    border-radius: 5px;
}
#absurd div:last-child{
    display: inline-block;
    width: 6em;
    background-color:white;
    color: black;
    text-align: center;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1px 1px 4px gray;
    margin-left: 1em;
}
/* EXPRESS **********************************************/
#express{
    min-height: 100vh;
    background-image: url(/assets/img/illustration3.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 35%;
    margin: 0 8
    em 0 6em;
}

/* BEAUTY **********************************************/
#beauty{
    min-height: 100vh;
    background-image: url(/assets/img/illustration2.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 35%;
    margin: 0 8
    em 0 6em;
}
